@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <script type="text/javascript" src="../../Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.placeholder.min.js"></script>
    <meta name="viewport" content="width=device-width" />
	<link rel="Shortcut Icon" href="/content/images/favicon.ico" />
	<link rel="icon" href="/content/images/favicon.ico" />
	<title>Fluffy Link</title>
</head>
<body>
    <div>
		@RenderBody()        
    </div>
</body>
</html>
