@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.placeholder.min.js"></script>
        <link href="~/Content/flat-ui.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Fluffy Link generates a memorable and distinctive link that you can give to your friends! Say goodbye to confusing jumbles of characters that would be embarassing to say out loud.">
        <link rel="shortcut icon" href="/content/images/favicon.ico">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/flat-ui.css" rel="stylesheet" />
        <title>Fluffy Link</title>
    </head>
    <body>
        <div class="container">
            <div class="headline">
                <h1 class="logo-wrapper">
                    <a href="/"><div class="logo"></div></a>
                </h1>
            </div>
            @RenderBody()
        </div>
    </body>
</html>
