<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\Jacob\Desktop\Published</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AutoMapper.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/AutoMapper.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Data.dll">
      <publishTime>08/05/2012 17:35:21</publishTime>
    </File>
    <File Include="bin/Domain.dll">
      <publishTime>08/05/2012 17:35:21</publishTime>
    </File>
    <File Include="bin/Entities.dll">
      <publishTime>08/05/2012 17:35:21</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/HappyFunLink.dll">
      <publishTime>08/05/2012 19:10:05</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Mvc.Mailer.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.dll">
      <publishTime>07/14/2012 14:04:21</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.xml">
      <publishTime>07/14/2012 14:04:21</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>07/14/2012 14:04:21</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>07/14/2012 14:04:21</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>07/14/2012 14:04:20</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>07/14/2012 14:04:21</publishTime>
    </File>
    <File Include="bin/WebCore.dll">
      <publishTime>08/05/2012 17:35:22</publishTime>
    </File>
    <File Include="Content/Images/RainbowWindmills.jpg">
      <publishTime>08/04/2012 22:58:07</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>08/05/2012 11:22:13</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Scripts/CustomScripts/AdminPage.js">
      <publishTime>08/05/2012 11:40:14</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Views/Admin/Index.cshtml">
      <publishTime>08/05/2012 17:11:28</publishTime>
    </File>
    <File Include="Views/Admin/Login.cshtml">
      <publishTime>08/05/2012 10:18:21</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>08/05/2012 14:59:56</publishTime>
    </File>
    <File Include="Views/Shared/PageLayout.cshtml">
      <publishTime>08/05/2012 11:01:09</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>08/04/2012 15:24:03</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>08/04/2012 20:43:55</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/05/2012 17:36:34</publishTime>
    </File>
  </ItemGroup>
</Project>