@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}



<div id = "MainBox">
    <h1>Happy Fun Link</h1>
    <div class ="centeredDiv">
        @if(Model.HappyLink == null)
        {
            using(@Html.BeginForm("GenerateLink", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.OriginalLink, new { @class = "happyTextInput"})
                <input class="genButton" type="submit" value="Generate Happy Fun Link"/>
            }
        }
        else
        {
            <p id="HappyLink">Happy Link: @Model.HappyLink</p>
        }
    </div>
</div>