@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<h1>Happy Fun Link</h1>

@using(Html.BeginForm("GenerateLink", "Home"))
{
    @Html.TextBoxFor(x => x.Link)
    <input type="submit" value="Submit"/>
}