@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<h1>Happy Fun Link</h1>

<div id = "MainBox">
<p>Insert link to happy funerize</p>
@using(Html.BeginForm("GenerateLink", "Home"))
{
		@Html.TextBoxFor(x => x.Link)
		<input type="submit" value="Generate Happy Fun Link"/>
}
<p id="HappyLink">Happy Link: @Model.Link</p>
</div>