@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<h1>Happy Fun Link</h1>

<div id = "MainBox">
    <p>Insert link to happy funerize</p>
    @if(Model.HappyLink == null)
    {
        using (Html.BeginForm("GenerateLink", "Home"))
         {
             @Html.TextBoxFor(x => x.OriginalLink)
             <input type="submit" value="Generate Happy Fun Link"/>
         }
    }
    else
    {
        <p id="HappyLink">Happy Link: @Model.HappyLink</p>
    }
</div>