@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<h1>Happy Fun Link</h1>

@using(Html.BeginForm("GenerateLink", "Home"))
{
	<div id = "MainBox">
		@Html.TextBoxFor(x => x.Link)
		<input type="submit" value="Generate Happy Fun Link"/>
	</div>
}